<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication28">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication28">
        <activity
            android:name=".CreateNoteActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".NotesActivity"
            android:exported="true" />
        <activity
            android:name=".ToDoListActivity"
            android:exported="true" />
        <activity
            android:name=".SlideShowActivity"
            android:exported="true" />

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".NotificationIntentService"
            android:exported="false" />

        <receiver
            android:name=".NotificationReciever"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".TimerActivity"
            android:exported="true" />
        <activity
            android:name=".AddActivity"
            android:exported="true" />
        <activity
            android:name=".SetTimeActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".LogInTestActivity"
            android:exported="true" />
        <activity
            android:name=".MenuActivity"
            android:exported="true" />
        <activity
            android:name=".ArrayListActivity"
            android:exported="true" />
        <activity
            android:name=".CheckBoxActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".StartActivity"
            android:exported="true" />
        <activity
            android:name=".IntroActivity"
            android:exported="true" />
        <activity
            android:name=".SignUPActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>